---
import Layout from "@layout";
import "@css/style.css";
import "@css/ai.css";
import Whiskers from "@image/whiskers.png";
import ChatGPT from "@image/chatgpt.png";
import Img from "@components/Img.astro";
---

<Layout title="AI">
  <div class="ai-container">
    <div class="chatbox">
      <div class="chatbox-message-container">

        <div class="chatbox-message">
          <p>This is the NOCTURNA PROXY, modified for more games by WHOLEWORLDCODING.</p>
        </div>
      </div>
      <div class="chatbox-message-container">

        </div>
      </div>
    </div>
  </div>
</Layout>
